@page
@model TheaterApp.Employee.Pages.Reservations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="custom-margin-wrapper">

    <h1>Reservations</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/reservations/">Reservations</a></li>
        </ol>
    </nav>

    <a style="margin-top: 10px; margin-bottom: 40px;" class="btn btn-primary" asp-page="/reservations/create">
        <i style="width: 3%; margin-right: 15px;" class="right fas fa-plus"></i>
        Create a New Reservation
    </a>

    <table class="table" style="margin-bottom: 300px;">
        <thead>
            <tr>
                <th>
                    Show
                </th>
                <th>
                    Reservation Date
                </th>
                <th>
                    Reservation Time
                </th>
                <th>
                    Group Reservation
                </th>
                <th>
                    Reservation Paid
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reservation)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationShow)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationTime)
                    </td>
                    @if (item.IsGroupSale == true)
                    {
                        <td>
                            Group Reservation
                        </td>
                    }
                    else
                    {
                        <td>
                        </td>
                    }

                    @if (item.WasReservationPrePaid == true)
                    {
                        <td>
                            Paid
                        </td>
                    }
                    else
                    {
                        <td>
                            Not Paid
                        </td>

                    }


                    <td>
                        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.ID"> <i style="width: 3%; margin-right: 25px;" class="right fas fa-edit"></i>Edit</a>
                        <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.ID"> <i style="width: 3%; margin-right: 25px;" class="right fas fa-info-circle"></i>Details</a>
                        <a class="btn btn-warning" asp-page="./Delete" asp-route-id="@item.ID"> <i style="width: 3%; margin-right: 25px;" class="right fas fa-trash"></i>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>