@page
@model TheaterApp.Employee.Pages.Reservations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].ReservationShow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].ReservationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].IsGroupSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].ReservationGuestAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].ReservationGuestNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].ReservationGuestAlergey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].ReservationSeatingPreference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].ReservationCustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].AddBirthdayPackage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].AddAnniversaryPackage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].WasReservationPrePaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation[0].ReservationPaymentDetails)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reservation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationShow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGroupSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationGuestAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationGuestNames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationGuestAlergey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationSeatingPreference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationCustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddBirthdayPackage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddAnniversaryPackage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WasReservationPrePaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationPaymentDetails)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
