@page
@model TheaterApp.Employee.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="custom-margin-wrapper">
    <h1>@Html.DisplayFor(model => model.Customer.FirstName)&nbsp;@Html.DisplayFor(model => model.Customer.LastName)</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Customers</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(model => model.Customer.FirstName)&nbsp;@Html.DisplayFor(model => model.Customer.LastName)</li>
        </ol>
    </nav>

    <div>
@* TODO: Figure out how to logicaly ender this alert. If HasAlergey = true then render the alert, if not then nothing will happen.
   Same thing should be implimented with Season Ticket holders, and if their credit card on file is about to expire.
*@
        @*@{
            if(@Html.ValueFor(model => model.Customer.HasFoodAlergey)) = true)
            {
                <div class="alert alert-warning" role="alert">
                    <h4 class="alert-heading">FOOD ALERGEY</h4>
                    <p>
                        Please take note, this customer has a food alergey. If making a new reservation for this customer, please
                        remind them of our food alergey policy which can be found by clicking <a href="/policy/food-alergey">here.</a>
                    </p>
                    <hr>
                    <p class="mb-0">
                        This customer is Alergic to:&nbsp;@Html.DisplayFor(model => model.Customer.FoodAlergey)
                    </p>
                </div>
            } else
            {
            }
        }*@


        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.EMailAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.EMailAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.MailingAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.MailingAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.State)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.State)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.SeatingPreference)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.SeatingPreference)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.IsSeasonTicketHolder)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.IsSeasonTicketHolder)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.HasFoodAlergey)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.HasFoodAlergey)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.FoodAlergey)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.FoodAlergey)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.EmergencyContactFullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.EmergencyContactFullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.EmergencyContactPhone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.EmergencyContactPhone)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Customer.ID">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>

</div>