@page
@model TheaterApp.Employee.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="custom-margin-wrapper">
        <h1>@Html.DisplayFor(model => model.Customer.FirstName)&nbsp;@Html.DisplayFor(model => model.Customer.LastName)</h1>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/customers/">Customers</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(model => model.Customer.FirstName)&nbsp;@Html.DisplayFor(model => model.Customer.LastName)</li>
            </ol>
        </nav>

        <div>

            @{
                if(Model.Customer.HasFoodAlergey == true)
                {
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">
                            <i class="fas fa-exclamation-triangle"></i>
                            FOOD ALERGEY
                        </h4>
                        <p>
                            Please take note, this customer has a food alergey. If making a new reservation for this customer, please
                            remind them of our food alergey policy which can be found by clicking <a href="/policy/food-alergey">here.</a>
                        </p>
                        <hr>
                        <p class="mb-0">
                            This customer is Alergic to:&nbsp;@Html.DisplayFor(model => model.Customer.FoodAlergey)
                        </p>
                    </div>
                } else
                {
                }

                if(Model.Customer.IsSeasonTicketHolder == true)
                {
                    <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading">
                            <i class="fas fa-exclamation-circle"></i>
                            SEASON TICKET HOLDER
                        </h4>
                        <p>
                            This customer is an active season ticket holder. When making a new or changing a reservation please
                            remind them of our season ticket policy. Found <a href="/policy/season-ticket">here.</a> Remember:
                            We do not offer refunds.
                        </p>
                        <hr>
                        <p class="mb-0">
                            This customers prefered seating is:&nbsp;@Html.DisplayFor(model => model.Customer.SeatingPreference)
                        </p>
                    </div>
                } else
                {
                }
            }


            <hr />

            <div class="row">
                <div class="col-md-4">
                    <div style="padding-top: 5%; padding-bottom: 5%; padding-left: 10%; padding-right: 10%;" class="card">
                        <h3>Customer Name:</h3>
                        <div>
                            <h5>
                                @Html.DisplayFor(model => model.Customer.FirstName)&nbsp;@Html.DisplayFor(model => model.Customer.LastName)
                            </h5>

                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div style="padding-top: 5%; padding-bottom: 5%; padding-left: 10%; padding-right: 10%;" class="card">
                        <h3>Customer Address:</h3>
                        <div>
                            <h5>
                                @Html.DisplayFor(model => model.Customer.MailingAddress)
                            </h5>
                            <h5>
                                @Html.DisplayFor(model => model.Customer.City)
                            </h5>
                            <h5>
                                @Html.DisplayFor(model => model.Customer.State)
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div style="padding-top: 5%; padding-bottom: 5%; padding-left: 10%; padding-right: 10%;" class="card">
                        <h3>Contact Information:</h3>
                        <div>
                            <h5>
                            <strong>E-Mail:</strong>
                                @Html.DisplayFor(model => model.Customer.EMailAddress)
                            </h5>
                            <h5>
                            <strong>Phone:</strong>
                                @Html.DisplayFor(model => model.Customer.PhoneNumber)
                            </h5>
                        </div>
                    </div>
                </div>

            <!-- RENDERS SEASON TICKET DATA, IF SET | OR A PROPT TO UP-SELL IF NOT. -->
            @{
                if(Model.Customer.IsSeasonTicketHolder == true)
                {
                    <div class="col-md-4">
                        <div style="padding-top: 5%; padding-bottom: 5%; padding-left: 10%; padding-right: 10%;" class="card">
                            <h2>Customer is a Season Ticket Holder</h2>
                            <h3>Seating Preference:</h3>
                            <div>
                                <h5>
                                    @Html.DisplayFor(model => model.Customer.SeatingPreference)
                                </h5>
                            </div>
                        </div>
                    </div>
                } else
                {
                    <div class="col-md-4">
                        <div style="padding-top: 5%; padding-bottom: 5%; padding-left: 10%; padding-right: 10%;" class="card">
                            <h2>This customer is not a Season Ticket Holder</h2>
                            <p>You should try to upsell the customer!</p>
                        </div>
                    </div>
                }
            }

            <!-- RENDERS EMERGENCY CONTACT DETAILS, IF SET -->
            @{
                if(Model.Customer.HasFoodAlergey == true)
                {
                    <div class="col-md-4">
                        <div style="padding-top: 5%; padding-bottom: 5%; padding-left: 10%; padding-right: 10%;" class="card">
                            <h3>Emergency Contact:</h3>
                            <div>
                                <h5>
                                <strong>First &amp; Last Name:</strong>
                                    @Html.DisplayFor(model => model.Customer.EmergencyContactFullName)
                                </h5>
                                <h5>
                                <strong>Phone:</strong>
                                    @Html.DisplayFor(model => model.Customer.EmergencyContactPhone)
                                </h5>
                            </div>
                        </div>
                    </div>
                } else
                {
                }
            }
      
        </div>

            <div style="margin: 30px 0;">
               @* <a asp-page="./Edit" asp-route-id="@Model.Customer.ID">Edit</a> |
                <a asp-page="./Index">Go back</a>*@

                <a class="btn btn-primary" asp-page="./Index"> <i style="width: 3%; margin-right: 25px;" class="right fas fa-arrow-alt-circle-left"></i>Back</a>
                <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@Model.Customer.ID"> <i style="width: 3%; margin-right: 25px;" class="right fas fa-edit"></i>Edit</a>
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@Model.Customer.ID"> <i style="width: 3%; margin-right: 25px;" class="right fas fa-trash"></i>Delete</a>
            </div>

    </div>
</div>